.header {
  border: 1px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.header__navbar {
  border: 1px green solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 0; */
}

.header__navbar-container {
  border: 1px yellow solid;
  flex: 1;
  display: none;
  flex-direction: row;
  gap: 1.5rem;
}

.header__icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.header__icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.header__icons-container p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-left: 5px;
}

.header__icons-size {
  font-size: 1.5rem;
}

@media screen and (max-width: 1050px) {
  .header__icons-container p {
    display: none;
  }

  .header__navbar-container {
    display: flex;
  }

  .header__logo {
    display: none;
  }
}
